<form action="/parcels">
  <div class="form-group">
    <label for="height">Height</label>
    <input id="height" name="height" type="text" class="form-control" required>
    <label for="width">Width</label>
    <input id="width" name="width" type="text" class="form-control" required>
    <label for="length">Length</label>
    <input id="length" name="length" type="text" class="form-control" required>
    <label for="distance">Distance</label>
    <input id="distance" name="distance" type="text" class="form-control" required>
    <label for="weight">Weight</label>
    <input id="weight" name="weight" type="text" class="form-control" required>
    <label for="speed">Speed</label>
    <input id="speed" name="speed" type="text" class="form-control" required>
    <label for="gift-wrap">Would you like gift wrap?</label>
    <select id="gift-wrap" name="gift-wrap" required>
      <option value="">Please select</option>
      <option value="Yes">Yes</option>
      <option value="No">No</option>
    </select>
    </div>
  <button type="submit" class="custom-button">Submit</button>
</form>
