<form action="/parcels">
  <label for="height">Height</label>
  <input id="height" name="height" type="text">
  <label for="width">Width</label>
  <input id="width" name="width" type="text">
  <label for="length">Length</label>
  <input id="length" name="length" type="text">
  <label for="distance">Distance</label>
  <input id="distance" name="distance" type="text">
  <label for="weight">Weight</label>
  <input id="weight" name="weight" type="text">
  <label for="speed">Speed</label>
  <input id="speed" name="speed" type="text">
  <button type="submit">Submit</button>
</form>
